.user-profile {
  position: relative;
  width: 515px;
  padding: 19px 0px 25px 36px;
  height: auto;
  &__btn {
    padding: 5px 15px;
    position: absolute;
    top: 13px;
    right: 45px;
    background: #4b51ef;
  }
  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
}
